//tamaños
$pc:1200px;
$tablet1: 960px;
$tablet: 768px;
$tablets:550px;
$movil:400px;
$movils:350px;
//fondos:
$fondoObscuro:#111;
$fondoRojo: red;
$success: rgb(8, 189, 8);
$error: #777;
//textos
$texto: red;
$blanco: white;
//fuentes:
$trejologo: 'Modak',
cursive;
$titulos: 'Bangers',
cursive;
$general:'Jura',
sans-serif;
$Qrtitulo: 'Dancing Script',
cursive;
$SubtituloQr: 'Merienda One',
cursive;